<div class="font-weight-bold h-100 w-100" style=" background-image: url('https://i.imgur.com/FaFNDuq.jpeg');
background-size: cover; background-repeat: no-repeat;">
<div style="position: absolute; right: 5%; bottom: 5%;">
<h1 style=" font-family: 'Noto Sans', sans-serif;color: rgb(142, 230, 11);" class=" display-2">Welcome</h1>
<h5 class="font-weight-bold text-light ml-2"> One Stop to all your Grocery needs. <br>
    <span (click)="onNoClick()" style="color: rgb(142, 230, 11);">Shop Now <i class="fas fa-arrow-circle-right"></i></span> </h5>
</div>
<!-- <button mat-raised-button (click)="goHome()">Open Overlay</button> -->
<!-- <button class="bg-success text-light border-success    " mat-raised-button (click)="onNoClick()">Shop Now></button> -->
</div>