<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Add tag</h5>
      <mat-progress-bar mode="buffer" *ngIf="progressBar"></mat-progress-bar>
      <form name="category" #userForm="ngForm" (ngSubmit)="addTag()">
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input type="text" required class="form-control" name="name" [(ngModel)]="tag.name">
        </div>
        <button type="submit" [disabled]="!userForm.form.valid "  class="btn btn-dark">Save</button>
      </form>
    </div>
  </div>