<div class="jumbotron jumbotron-fluid row " [hidden]="orderFinished" style="background-image:url('https://t4.ftcdn.net/jpg/02/47/80/13/360_F_247801355_e6RslSvRLWclwWCZZmaipsteEEJrXrw1.jpg');
background-size: cover
;">
  <div class="container ">
    <h1 class="display-4 text-left font-weight-bold text-dark">CAPSTONE GROCERY</h1>
  </div>
</div>
<div class="col-lg-8 " [hidden]="orderFinished">
  <div class="input-group mb-3 ml-5" style="margin-top: 15px;">
    <input type="text" class="form-control" placeholder="Search Product" name="name" [(ngModel)]="name">
    <button class="btn btn-dark" type="button" (click)="search()"><i class="fas fa-search"></i></button>
  </div>
</div>

<div class="row" style="padding-bottom: 40px;" *ngIf="!showSearch">
  <div class="col-md-9 ">
    
    <app-products #productsC [hidden]="orderFinished"></app-products>
  </div>
  <div class="col-md-3">
    <app-shopping-cart (onOrderFinished)=finishOrder($event) #shoppingCartC [hidden]="orderFinished">
    </app-shopping-cart>
  </div>

  <div class="col-md-6 offset-3">
    <app-orders #ordersC [hidden]="!orderFinished"></app-orders>
  </div>
</div>



<div *ngIf="showSearch" >
  <div class="row card-deck">

    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of products ">
      <div class="card">
        <a (click)="sampleProduct(product.id)"><img class="card-img-top" src="{{product.pictureUrl }}"
            alt="image" /></a>

        <div class="card-body text-center">




          <mdb-card-title>
            <h4>{{product.name }}</h4>
          </mdb-card-title>
          <h5 class="card-title" id="price">
            From <i class="fas fa-rupee-sign"></i>{{ product.price }}

          </h5>





        </div>
      </div>
    </div>
  </div>
</div>