<div style="background-color: white; margin-top: -50px;" class="ml-5" *ngFor="let order of productOrders;">
    <div class="row">
        <div class="col-6" [hidden]="orderFinished">

            <div class="pricing-table container " style="background-color: white;">

                <div class="pricing-item pricing-featured">


                    <div>
                        <img class="card-img-top img-thumbnail" style="width: 50%; height: 250px"
                            src={{order.product.pictureUrl}} alt="image">
                    </div>
                    <ul class="pricing-features ">
                        <li class="font-weight-bold"><span class="keywords">Name:</span> {{order.product.name}}</li>
                        <li class="font-weight-bold">Description :
                            <mdb-card-text>
                                {{ order.product.description }}

                            </mdb-card-text>
                        </li>
                        <li>
                            <h6 class="card-title text-success font-weight-bold " id="price">
                                Price = {{ order.product.price }}<i class="fas fa-rupee-sign"></i></h6>
                        </li>
                        <ul class="list-group borderless list-group-horizontal ">
                            <li class="list-group-item text-left border-0 " *ngFor="let tag of tags"
                                style="margin-left: 5px; margin-left: 5px; margin-top: 10px; padding: 5px 10px;">
                                <a [routerLink]="['/display-tag/', tag.id]">
                                    <mdb-badge color="blue">

                                        <i class="fas fa-tag pr-1"></i> {{tag.name}}
                                    </mdb-badge>
                                </a>
                            </li>
                        </ul>
                        <hr />
                        <div class="row p-0 " style="width: 50%; margin: 0 auto;" *ngIf="user">
                          <div class="col-4 mt-1  " *ngIf="!isProductSelected(order.product)" style="margin-left: 15px">
                            <input type="number" min="0" max="10" class="form-control" [(ngModel)]="order.quantity" />
                          </div>
                          <div class="col-6 " *ngIf="!isProductSelected(order.product)">
                            <button class="btn btn-primary p-2 " (click)="addToCart(order)" [disabled]="order.quantity <= 0">
                              Buy Now
                            </button>
                          </div>
                          <div class="col-12" *ngIf="isProductSelected(order.product)">
                            <button class="btn btn-success btn-block active" (click)="removeFromCart(order)">
                              Remove From Cart
                            </button>
                          </div>
                        </div>


                    </ul>


                    <div *ngIf="!user">
                        <p><strong>Please login to buy product</strong> <button type="button" class="btn btn-link"
                                (click)="login()">Login</button> </p>
                    </div>
                </div>
            </div>


        </div>

        <div class="col ml-5 container" style="padding-right: 34px;margin-top: 95px; background-color: white;">
            <div style="margin-top: 5px;">
                <app-shopping-cart (onOrderFinished)=finishOrder($event) #shoppingCartC [hidden]="orderFinished">
                </app-shopping-cart>
            </div>

            <div>
                <app-orders #ordersC [hidden]="!orderFinished"></app-orders>
            </div>
        </div>
       
        <hr style="border: 1px solid #ddd;">
    </div>
    
</div>