

<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg bg-dark " [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">CAPSTONE</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto text-light">
      <li class="nav-item active">
        <a class="nav-link waves-light" [routerLink]="['/dashboard']" mdbWavesEffect>Home</a>
      </li>
      <li class="nav-item dropdown" dropdown>


        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Browse by Category<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary " role="menu">
          <a class="dropdown-item waves-light" *ngFor="let cat of categories"
            [routerLink]="['/display-category/', cat.id]" mdbWavesEffect href="#"><i class="fas fa-shopping-bag pr-2"></i>{{cat.name}}</a>
        </div>
      </li>


      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Follow us on<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" style="color: aqua;" mdbWavesEffect href="#"><i class="fab fa-twitter pr-2"></i>Twitter</a>
          <a class="dropdown-item waves-light text-primary" mdbWavesEffect href="#"><i class="fab fa-facebook-square pr-2"></i>Facebook</a>
          <a class="dropdown-item waves-light" style="color: orangered;" mdbWavesEffect href="#"><i class="fab fa-reddit-square pr-2"></i>Reddit</a>

        </div>
      </li>

      <!-- Dropdown -->


    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons text-light">
      <li class="nav-item">
        <a class="nav-link">
          <mdb-icon style="color: aqua;" fab icon="twitter"></mdb-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <mdb-icon style="color: rgb(153, 33, 33);" fab icon="google-plus"></mdb-icon>
        </a>
      </li>

      <a type="button dropdown " class="nav-link waves-light" *ngIf="user" [routerLink]="['/profile/', user.id]">
        <i class="fas fa-user"></i>
      </a>
      <a type="button" class="nav-link waves-light " (click)="login()" *ngIf="!user">
        Login
      </a>
      <a type="button" class="nav-link waves-light" (click)="register()" *ngIf="!user">
        Register
      </a>

      

    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->


<router-outlet></router-outlet>
<!-- <app-footer ></app-footer> -->