<!-- <div class="toolbar" role="banner">
    <i class="fas fa-shopping-cart"></i>
    <span [routerLink]="['/dashboard']">Welcome to your eccommerce</span>
    <button mat-button [matMenuTriggerFor]="menu">Menu <i class="fas fa-caret-down"></i></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let cat of categories"
        [routerLink]="['/dsiplay-category/', cat.id]">{{cat.name}}</button>
    </mat-menu>
  
    <div class="spacer"></div>
    <a type="button" [routerLink]="['/dashboard']">
      Home <i class="fas fa-home"></i>
    </a>
    <a type="button" *ngIf="user" [routerLink]="['/profile/', user.id]">
      Profile <i class="fas fa-user"></i>
    </a>
    <a type="button" (click)="login()" *ngIf="!user">
      Login
    </a>
    <a type="button" (click)="register()" *ngIf="!user">
      Register
    </a>
  </div><br> -->

<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg bg-dark  sticky-top" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">CAPSTONE</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto text-light">
      <li class="nav-item active">
        <a class="nav-link waves-light" [routerLink]="['/dashboard']" mdbWavesEffect>Home<span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown" dropdown>


        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Browse by Category<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary " role="menu">
          <a class="dropdown-item waves-light" *ngFor="let cat of categories"
            [routerLink]="['/dsiplay-category/', cat.id]" mdbWavesEffect href="#">{{cat.name}}</a>
        </div>
      </li>


      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Follow us on<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
        </div>
      </li>

      <!-- Dropdown -->


    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons text-light">
      <li class="nav-item">
        <a class="nav-link">
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <mdb-icon fab icon="google-plus"></mdb-icon>
        </a>
      </li>

      <a type="button" class="nav-link waves-light" *ngIf="user" [routerLink]="['/profile/', user.id]">
        <i class="fas fa-user"></i>
      </a>
      <a type="button" class="nav-link waves-light" (click)="login()" *ngIf="!user">
        Login
      </a>
      <a type="button" class="nav-link waves-light" (click)="register()" *ngIf="!user">
        Register
      </a>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->


<router-outlet></router-outlet>