<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Add Category</h5>
      <mat-progress-bar mode="buffer" *ngIf="progressBar"></mat-progress-bar>
      <form name="category" #userForm="ngForm" (ngSubmit)="addCategory()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Name</label>
          <input type="text" required class="form-control" name="name" [(ngModel)]="category.name">
        </div>
        <button type="submit" mat-dialog-close [disabled]="!userForm.form.valid " class="btn btn-dark">Add</button>
      </form>
    </div>
  </div>